@import url(./color-theme.css);
.welcome {
  height: 80px;
}
.welcome-text {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  margin: 10px;
  align-content: center;
}
.welcome-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  border: 100px;
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  box-shadow: 0 0 0 2px var(--blue-600);
}
.welcome-logo > img {
  width: 60px;
  height: 60px;
}
.welcome-text-center > p {
  font-size: 14px;
}
.welcome-text-center > b {
  font-size: 14px;
}

/*  */

.run {
  margin: 10px;
}
.run-title {
  margin-bottom: 10px;
  font-size: 14px;
}
.run-task {
  padding: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: var(--blue-600);
  border-radius: 15px;
}
.run-task > b {
  color: #ffffff;
  font-size: 12px;
}
.run-task > p {
  color: #ffffff;
  font-size: 10px;
  margin-top: 5px;
}

/*  */

.search > input {
  margin-top: 10px;
  width: calc(100% - 10px);
  margin-bottom: 10px;
  border: 0;
  background-color: var(--seashell-900);
  height: 40px;
  border-radius: 100px;
  padding-left: 10px;
  font-size: 14px;
}

.filtrs {
  margin: 10px;
}
.add-filtrs-icon {
  color: var(--seashell-25);
  width: 13px;
  height: 13px;
}
.filtrs-btn {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--seashell-900);
  border: 0;
  border-radius: 100px;
  margin: 2px;
  font-size: 14px;
}
.active-filtrs {
  background-color: var(--blue-600);
  color: #ffffff;
}

.task-block {
  height: 60px;
  background-color: var(--seashell-card);
  border-radius: 15px;
  margin-bottom: 10px;
}
.task-block-text {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  align-content: center;
}
.task-block-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  border: 100px;
  margin: 10px;
  width: 40px;
  height: 40px;
}
.task-block-settings > img {
  width: 15px;
  height: 15px;
}
.task-block-text-center > p {
  font-size: 10px;
}
.task-block-text-center > b {
  font-size: 12px;
}