@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url(./color-theme.css);

* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--seashell-25);
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  max-width: 1024px;
  margin: 0 auto; /* Центрирование содержимого */
  padding: 20px 10px; /* Сужение бокового отступа */
  background-color: var(--seashell-50);
  color: var(--seashell-25);
  overflow-x: hidden; /* Скрыть горизонтальную прокрутку */
}
/* body {
  width: 100%;
  max-width: 1024px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--seashell-50);
  color: var(--seashell-25);
}
html {
  background-color: var(--seashell-50);
  color: var(--seashell-25);
} */
button {
  border: 0;
  background: none;
  color: var(--seashell-25);
}
.icon {
  color: var(--seashell-25);
  width: 20px;
  height: 20px;
  margin: 10px;
}
.rotate-90 {
  transform: rotate(90deg);
}

.content {
  margin-top: 10px;
}

.navigations {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.navigations > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 700;
  flex: 1;
}

.menu-back {
  pointer-events: none;
  opacity: 0;
}
a {
  text-decoration: none;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  z-index: 1000; /* Для того, чтобы блок был поверх всех */
}
.menu-btn {
  background-color: var(--blue-600);
  width: 44px;
  height: 44px;
  border-radius: 100px;
  margin-top: 10px;
  flex: 1/3;
  margin: 10px;
}
.menu-btn-icon {
  color: #ffffff;
  width: 24px;
  height: 24px;
}
.menu-btn-none {
  width: 24px;
  height: 24px;
  flex: 1;
}
.menu-btn-left {
  background-color: var(--blue-600);
  width: 44px;
  height: 44px;
  border-radius: 100px;
  margin-top: 10px;
  flex: 1/3;
  margin: 10px;
}
.menu-btn-right {
  background-color: var(--blue-600);
  width: 44px;
  height: 44px;
  border-radius: 100px;
  margin-top: 10px;
  flex: 1/3;
  margin: 10px;
}
.btn-none {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  
}